header.header
    .container
        .header__content
            .header__logo
                img(src='../static/img/Logo.svg' class='logo')
            nav.header__nav.header-nav
                ul.header-nav__list
                    li.header-nav__item
                        a(href='').header-nav__link О нас
                    li.header-nav__item
                        a(href='').header-nav__link Услуги
                        //img(src='../static/img/angle-down-solid.svg' class='header-nav__item angle')
                    li.header-nav__item
                        a(href='').header-nav__link Вакансии
                    li.header-nav__item
                        a(href='').header-nav__link Новости
                    li.header-nav__item
                        a(href='').header-nav__link Соглашения
                .header__sign
                    button.header__sign-in.btn.btn__empty
                        h3.btn__empty-text Войти
                    button.header__sign-up.btn.btn__full
                        h3.btn__full-text Зарегистрироваться