/node_modules/
/dev/pug/dist/
/dist/
/dev/pug/.cache/
/dev/static/font-awesome-4.7.0/scss/_animated.scss
/dev/static/font-awesome-4.7.0/scss/_bordered-pulled.scss
/dev/static/font-awesome-4.7.0/scss/_core.scss
/dev/static/font-awesome-4.7.0/scss/_fixed-width.scss
/dev/static/font-awesome-4.7.0/scss/_icons.scss
/dev/static/font-awesome-4.7.0/scss/_larger.scss
/dev/static/font-awesome-4.7.0/scss/_list.scss
/dev/static/font-awesome-4.7.0/scss/_mixins.scss
/dev/static/font-awesome-4.7.0/scss/_path.scss
/dev/static/font-awesome-4.7.0/scss/_rotated-flipped.scss
/dev/static/font-awesome-4.7.0/scss/_screen-reader.scss
/dev/static/font-awesome-4.7.0/scss/_stacked.scss
/dev/static/font-awesome-4.7.0/scss/_variables.scss
/dev/static/font-awesome-4.7.0/less/animated.less
/dev/static/font-awesome-4.7.0/less/bordered-pulled.less
/dev/static/font-awesome-4.7.0/less/core.less
/dev/static/font-awesome-4.7.0/less/fixed-width.less
/dev/static/font-awesome-4.7.0/css/font-awesome.css
/dev/static/font-awesome-4.7.0/less/font-awesome.less
/dev/static/font-awesome-4.7.0/css/font-awesome.min.css
/dev/static/font-awesome-4.7.0/scss/font-awesome.scss
/dev/static/font-awesome-4.7.0/fonts/FontAwesome.otf
/dev/static/font-awesome-4.7.0/fonts/fontawesome-webfont.eot
/dev/static/font-awesome-4.7.0/fonts/fontawesome-webfont.svg
/dev/static/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf
/dev/static/font-awesome-4.7.0/fonts/fontawesome-webfont.woff
/dev/static/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2
/dev/static/font-awesome-4.7.0/HELP-US-OUT.txt
/dev/static/font-awesome-4.7.0/less/icons.less
/dev/static/font-awesome-4.7.0/less/larger.less
/dev/static/font-awesome-4.7.0/less/list.less
/dev/static/font-awesome-4.7.0/less/mixins.less
/dev/static/font-awesome-4.7.0/less/path.less
/dev/static/font-awesome-4.7.0/less/rotated-flipped.less
/dev/static/font-awesome-4.7.0/less/screen-reader.less
/dev/static/font-awesome-4.7.0/less/stacked.less
/dev/static/font-awesome-4.7.0/less/variables.less
