.search__box.search-box
    .search-box__content
        h1 Найдём номера под ваши пожелания
        .search-box__content-dropdowns
            .search-box__content-incoming
                h3 Прибытие
                .dropdown
                    p ДД.ММ.ГГГГ
            .search-box__content-departure
                h3 Выезд
                .dropdown
                    p ДД.ММ.ГГГГ
            .search-box__content-company
                h3 Гости
                .dropdown
                    p Сколько гостей