doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1 wfmwdqmgorew
        p 124r2rfds32
        img(src='../static/img/Logo.svg')
        h3 opaaa f5
        script(src='../static/js/main.js')